# IBM Data Science Capstone Project

## || Part 3.2. : Exploratory Data Analysis with SQL

In [1]:
import csv, sqlite3, prettytable
prettytable.DEFAULT = 'DEFAULT'

connection = sqlite3.connect("ExerciseDB1.db")
cur = connection.cursor()
%load_ext sql

%sql sqlite:///ExerciseDB1.db

'Connected: @ExerciseDB1.db'

In [2]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("spacexTable", connection, if_exists='replace', index=False,method="multi")

101

In [3]:
# Remove the blank rows from the tabel
%sql DROP TABLE IF EXIST spacexTable
%sql CREATE TABLE SPACEXTABLE AS SELECT * FROM SPACEXTABLE WHERE DATE IS NOT NULL
%sql SELECT * FROM SPACEXTABLE LIMIT 3

 * sqlite:///ExerciseDB1.db
(sqlite3.OperationalError) near "EXIST": syntax error
[SQL: DROP TABLE IF EXIST spacexTable]
(Background on this error at: http://sqlalche.me/e/14/e3q8)
 * sqlite:///ExerciseDB1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: CREATE TABLE SPACEXTABLE AS SELECT * FROM SPACEXTABLE WHERE DATE IS NOT NULL]
(Background on this error at: http://sqlalche.me/e/14/e3q8)
 * sqlite:///ExerciseDB1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')]

1. Names of Unique Launch Sites in Mission

In [4]:
%sql SELECT DISTINCT(LAUNCH_SITE) FROM SPACEXTABLE

 * sqlite:///ExerciseDB1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

2. 5 Records where Launch Sites Begin with "CCA"

In [5]:
%sql SELECT * FROM SPACEXTABLE WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5

 * sqlite:///ExerciseDB1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

3. Total Payload Mass Carried by Boosters Launched by NASA

In [6]:
%sql SELECT BOOSTER_VERSION, SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE CUSTOMER LIKE 'NASA%' GROUP BY BOOSTER_VERSION

 * sqlite:///ExerciseDB1.db
Done.

[('F9 B4  B1039.2', 2647),
 ('F9 B4 B1039.1', 3310),
 ('F9 B4 B1045.1', 362),
 ('F9 B4 B1045.2', 2697),
 ('F9 B5 B1046.4', 12050),
 ('F9 B5 B1056.2 ', 2268),
 ('F9 B5 B1058.4 ', 2972),
 ('F9 B5 B1059.2', 1977),
 ('F9 B5B1050', 2500),
 ('F9 B5B1051.1', 12055),
 ('F9 B5B1056.1 ', 2495),
 ('F9 B5B1058.1 ', 12530),
 ('F9 B5B1059.1', 2617),
 ('F9 B5B1061.1 ', 12500),
 ('F9 B5B1063.1', 1192),
 ('F9 FT  B1035.2', 2205),
 ('F9 FT B1021.1', 3136),
 ('F9 FT B1025.1', 2257),
 ('F9 FT B1031.1', 2490),
 ('F9 FT B1035.1', 2708),
 ('F9 v1.0  B0004', 0),
 ('F9 v1.0  B0005', 525),
 ('F9 v1.0  B0006', 500),
 ('F9 v1.0  B0007', 677),
 ('F9 v1.1', 2296),
 ('F9 v1.1 B1010', 2216),
 ('F9 v1.1 B1012', 2395),
 ('F9 v1.1 B1015', 1898),
 ('F9 v1.1 B1017', 553),
 ('F9 v1.1 B1018', 1952)]

4. Average Payload Mass Carried by Booster Version F9 V1.1

In [7]:
%sql SELECT BOOSTER_VERSION, AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE BOOSTER_VERSION LIKE 'F9 V1.1%' GROUP BY BOOSTER_VERSION

 * sqlite:///ExerciseDB1.db
Done.

[('F9 v1.1', 2928.4),
 ('F9 v1.1  B1003', 500.0),
 ('F9 v1.1 B1010', 2216.0),
 ('F9 v1.1 B1011', 4428.0),
 ('F9 v1.1 B1012', 2395.0),
 ('F9 v1.1 B1013', 570.0),
 ('F9 v1.1 B1014', 4159.0),
 ('F9 v1.1 B1015', 1898.0),
 ('F9 v1.1 B1016', 4707.0),
 ('F9 v1.1 B1017', 553.0),
 ('F9 v1.1 B1018', 1952.0)]

5. Record of First Successful Landing Outcome in Ground Pad

In [8]:
%sql SELECT * FROM SPACEXTABLE WHERE LANDING_OUTCOME like "Success (ground pad)" order by date asc limit 1

 * sqlite:///ExerciseDB1.db
Done.

[('2015-12-22', '1:29:00', 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)')]

6. Names of Boosters which have success in drone ship, and Payload Mass is greater than 4000 but less than 6000

In [9]:
%sql SELECT BOOSTER_VERSION FROM SPACEXTABLE WHERE LANDING_OUTCOME LIKE "Success (drone ship)" AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000

 * sqlite:///ExerciseDB1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

7. Total Number of Successful and Failure Mission Outcomes

In [10]:
%sql SELECT MISSION_OUTCOME, COUNT(MISSION_OUTCOME) FROM SPACEXTABLE GROUP BY MISSION_OUTCOME

 * sqlite:///ExerciseDB1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

8. Names of Booster Versions which have carried Maximum Mass

In [11]:
%sql SELECT BOOSTER_VERSION, PAYLOAD_MASS__KG_ FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE) GROUP BY BOOSTER_VERSION

 * sqlite:///ExerciseDB1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1049.7 ', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1060.3', 15600)]

9. Records of Rocket Launch for the Months in 2015

In [12]:
%sql SELECT substr(Date, 6,2) as MONTH, LANDING_OUTCOME, BOOSTER_VERSION, LAUNCH_SITE FROM SPACEXTABLE WHERE LANDING_OUTCOME LIKE "Failure (drone ship)" AND substr(DATE,0,5)= '2015'

 * sqlite:///ExerciseDB1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

10. Ranking of Lancing Outcomes Between 4 June 2010 until 20 March 2017

In [13]:
%sql SELECT LANDING_OUTCOME, COUNT(*) AS count, RANK() OVER (ORDER BY COUNT(*) DESC) AS Ranking FROM SPACEXTABLE WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY LANDING_OUTCOME ORDER BY count DESC;

 * sqlite:///ExerciseDB1.db
Done.

[('No attempt', 10, 1),
 ('Success (drone ship)', 5, 2),
 ('Failure (drone ship)', 5, 2),
 ('Success (ground pad)', 3, 4),
 ('Controlled (ocean)', 3, 4),
 ('Uncontrolled (ocean)', 2, 6),
 ('Failure (parachute)', 2, 6),
 ('Precluded (drone ship)', 1, 8)]

### Created By : ALEXANDER RAFAEL
### 29 March 2025