# Tuple

Definition :
1. Tuple are an ordered sequence, Written as comma-separated elements within parentheses
2. Tuple can combine 3 datatype, int, string and float. But, the variabel type is recognized as tuple
3. Each element on the tuple can be accesed with the index number (+ and -)
4. Tuple is immutable

Tuple : Concatenating (Combine 2 tuples)
* Formula : tuples = tuple1 + tuple2

Tuple : Slicing Elements
* Formula : tuple_name[x:y:z]
*   x = from the x-th element
*   y = until before y-th element
*   z = spare y-th element

Tuple : Immutable (Cannot be add, pop, or modify the elements)
* If we want to modify it (like sort), then we need to assign to the new tuples

Tuple : Nested tuples
* A tuple can contain other tuples as well as other complex datatype
* Ex. NT = (1,2,("pop","rock"), (3,4)).
* The elements on the n-layered can be accesed with the n dimension indexing method. ex. NT[2][1] = "rock". NT[2][1][0] = "r"

==================================================================

In [21]:
#create a tuple
tup = ('disco',10.1,12,True)
print(tup)
print(type(tup))

#acces the tuple by indexing
print(tup[1])
print(tup[-1])

#slicing tupple
print(tup[:2])

#concatenate tuple
tup2 = ('yes',23)
tups = tup + tup2
print(tups)

#tuple lenght
print(len(tups))

#sorting tuple, with create a new one
tupy = (5,1,9,2,0,3,1,2.5)
sortedTup = sorted(tupy)
print(sortedTup)

#nested tuple
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
print(NestedT[2])
print(NestedT[2][0])
print(NestedT[2][0][1])

('disco', 10.1, 12, True)
<class 'tuple'>
10.1
True
('disco', 10.1)
('disco', 10.1, 12, True, 'yes', 23)
6
[0, 1, 1, 2, 2.5, 3, 5, 9]
('pop', 'rock')
pop
o

# List

Definition
1. List is also an ordered sequence, written as comma seperated elements, within square bracket
2. List can contain string, integer and float
3. List can combine/nesting the other datastructure, such as tuple
4. List is mutable

List : Accesing and Slicing Elements
* Formula : list_name[x:y:z]

List : Concatenate
* Formula : new_list = list1 + list2

List : Mutable [Add a New Element]
* Concatenate and modify the current list : list_name.extend([value])
* Appending the current list : list_name.append(value)
* Notes!
* Append only can take 1 argument each (dont put the list to argument, just value). If more, then it will be a nested list. 
* Extend need a list argument, and it will be not nested the original list

List : Mutable [Modify an Element]
* Formula = list_name[index] = new_value

List : Mutable [Delete an element on the index]
* Formula = del(list_name[index])

Conversion from string to list
* Formula = string_name.split(delimiter)

More information
* Formula = help(list_name)

In [8]:
#creat a list
l = ['michael',10.1,1982,[1,2], ('A',1)]

#access list
print(l[0])
print(l[-1])

#slicing
print(l[1:3])

#extend 
l.extend(['pop',18])
print(l)

#append, only one element
l.append(90)
print(l)

#change element
l[0] = 'alex'
print(l)

#delete element
del(l[:2])
print(l)

michael
('A', 1)
[10.1, 1982]
['michael', 10.1, 1982, [1, 2], ('A', 1), 'pop', 18]
['michael', 10.1, 1982, [1, 2], ('A', 1), 'pop', 18, 90]
['alex', 10.1, 1982, [1, 2], ('A', 1), 'pop', 18, 90]
[1982, [1, 2], ('A', 1), 'pop', 18, 90]

In [1]:
#Append vs Extend
list1 = [5,7,1,2]
print (list1)

list1.append("a")
print(list1)

list1.extend([5,9,1])
print (list1)

list1.append([5,9,1])
print (list1)

[5, 7, 1, 2]
[5, 7, 1, 2, 'a']
[5, 7, 1, 2, 'a', 5, 9, 1]
[5, 7, 1, 2, 'a', 5, 9, 1, [5, 9, 1]]

# Dictionary

Basically, dictionary is seems like the list

If in the list, we are accessing the value based on its unique index

Then,
In dictionary, we will acces it based on its unique and custom key, and for every key, there can only be one single value

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsList.png" width="650">

In [17]:
#Create a dictionary
dicts = {"Thriller": "1982", "Back in Black": "1980", \
         "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
        "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
        "Saturday Night Fever": "1977", "Rumours": "1977"}
dicts

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsStructure.png" width="650">

In [18]:
# Get value by key
print(dicts['The Bodyguard'])

# Get all the keys in dictionary
print(dicts.keys())

# Get all the values in dictionary
print(dicts.values())

# Add an entry to dictionary
dicts['Graduation'] = '2007'
print(dicts)

# Delete an entry from dictionaryu
del(dicts['Graduation'])
del(dicts['Thriller'])
print(dicts)

# Verify the key in dictionary
print('Bat Out of Hell' in dicts)
print('Binusian' in dicts)

1992
dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])
dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])
{'Thriller': '1982', 'Back in Black': '1980', 'The Dark Side of the Moon': '1973', 'The Bodyguard': '1992', 'Bat Out of Hell': '1977', 'Their Greatest Hits (1971-1975)': '1976', 'Saturday Night Fever': '1977', 'Rumours': '1977', 'Graduation': '2007'}
{'Back in Black': '1980', 'The Dark Side of the Moon': '1973', 'The Bodyguard': '1992', 'Bat Out of Hell': '1977', 'Their Greatest Hits (1971-1975)': '1976', 'Saturday Night Fever': '1977', 'Rumours': '1977'}
True
False

**Dictionary Exercise**

In [20]:
#Create an empty dictionary
dicts = {}

#Store the first product detail
P1Name = 'Mobile Phone'
P1Q = 5
P1P = 20000
P1Y = '2020'

#Add detail to dictionary
dicts['P1Name'] = P1Name
dicts['P1Q'] = P1Q
dicts['P1P'] = P1P
dicts['P1Y'] = P1Y

#Store the second product detail
P2Name = 'Laptop'
P2Q = 10
P2P = 50000
P2Y = '2023'

#Add detail to the dictionary
dicts['P2Name'] = P2Name
dicts['P2Q'] = P2Q
dicts['P2P'] = P2P
dicts['P2Y'] = P2Y

#Display all products in dictionary
for i in dicts:
    print (f"{i} : {dicts[i]}")
    
#Check the existence of Product release year
print('P1Y' in dicts)

#Delete the release year
del(dicts['P1Y'])
del(dicts['P2Y'])

#Print again the updated dictionary
print ("=================")
print ("Updated Dictionary")
for i in dicts:
    print(f"{i}: {dicts[i]}")

P1Name : Mobile Phone
P1Q : 5
P1P : 20000
P1Y : 2020
P2Name : Laptop
P2Q : 10
P2P : 50000
P2Y : 2023
True
=================
Updated Dictionary
P1Name: Mobile Phone
P1Q: 5
P1P: 20000
P2Name: Laptop
P2Q: 10
P2P: 50000

# Set

Definition :
* A type of collection, a set can contains different python datatypes
* An ordered sequence, a set do not record the element potition, and will sort it automatically
* Unique elements, it is only one of a particular element in a set. It will never been doubled.

In [31]:
#Create a set
sets = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
print(sets)
#Notes. Theres a difference between use the argument print or not.
#If it is not using print, it will be ordered. Otherwise, it will be unordered


#convert a list to a set
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
set1 = set(album_list)             
print(set1)

set2 = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco","True"])
print(set2)


#Add element to a set
set1.add('True')

#Remove an element from a set
set1.remove(1982)

#Verify an existence of element in a set
print('folk rock' in set2)

{'pop', 'disco', 'hard rock', 'R&B', 'rock', 'soul'}
{'30-Nov-82', 65, 'Pop, Rock, R&B', 10.0, 'Thriller', 'Michael Jackson', 46.0, None, '00:42:19', 1982}
{'True', 'soul', 'folk rock', 'pop', 'soft rock', 'disco', 'progressive rock', 'hard rock', 'R&B', 'rock'}
True

Sets Operation

In [32]:
#Declare the set
sets1 = set(["Thriller", 'AC/DC', 'Back in Black'])
sets2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [33]:
#print both of it
sets1, sets2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [35]:
#Difference in set 1, but not set 2 (set2 - set1)
sets1.difference(sets2)

{'Thriller'}

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsLeft.png" width="650">

In [36]:
#Difference in set 2, but not in set 1
sets2.difference(sets1)

{'The Dark Side of the Moon'}

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsRight.png" width="650">

In [37]:
#The intersection of the set
sets1.intersection(sets2)

{'AC/DC', 'Back in Black'}

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsIntersect.png" width="650">

In [38]:
#The union of the set
sets1.union(sets2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsUnion.png" width="650">

In [42]:
#Check is subset or is superset
set(sets1).issuperset(sets2) 
set(sets2).issubset(sets1)

False